.navbar {
    background: rgb(145, 146, 154);
    background: radial-gradient(circle, rgb(54, 54, 55) 0%, rgrgb(95, 94, 94)00%);
}
.navbar li {
    display: inline-block;
}  
.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
body {
    background-image: url('../Img/IMAGENES2/imagen_de_fondo.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    color: white;
}
form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}
label {
    display: block;
    margin-bottom: 10px;
    color:black;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
h4{
    color: black;
}
legend{
    color: black;
}